body{
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg
  ,  rgb(34, 31, 32) 0%,
  rgb(47, 55, 47) 69%,
  rgb(51, 63, 80) 89%) !important
}

.react-calendar{
  width: 100% !important;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34,36,38, 1.5)
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(34, 31, 32) 0%,
          rgb(47, 55, 47) 69%,
          rgb(51, 63, 80) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.react-datepicker-wrapper {
  width: 100%;
}

mgt-login {
  --font-size: 14px;
  --font-weight: 600;
  --weight: '100%';
  --height: '100%';
  --margin: 0;
  --padding: 12px 20px;
  --button-color: white;
  --button-color--hover: black;
  --button-background-color: #004080;
  --button-background-color--hover: white;
  --popup-background-color: rgba(131, 180, 228, 0.864);
  --popup-command-font-size: 12px;
  --popup-color: #201f1e;
}

.fc-event-time, .fc-event-title {
  padding: 0 1px;
  white-space: normal;
  font-size: 0.8em;
  }

  .wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .editor-class {
    background-color: white;
    padding: 1rem;
    border: 1px solid #ccc;
    color: black;
  }
  .toolbar-class {
    border: 1px solid #ccc;
    color: black;
  }
  .hide-toolbar { display:none !important; }

  .hover-underline:hover {
    text-decoration: underline;
  }

  .page-break {
    page-break-after: always;
  }

  .fc-event-title {
    font-size: larger;
  }

  .event-icon {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .public-DraftStyleDefault-block {
    margin: 0 !important;
    padding: 0 !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}


@media screen and (max-width: 767px) {
  .stackable-checkbox-group > .field {
    display: block;
    width: 100% !important;
    margin-bottom: 10px;
  }
}

.results {
  max-height: 200px;
  overflow-y: auto;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.warningMessage {
  color: #573a08;
  background-color: #fffaf3;
  border-color: #ffebcc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.warningMessageHeader {
  font-size: 1.2em;
  font-weight: bold;
}

.warningMessageContent {
  margin-top: 5px;
}

.clickable-image {
  cursor: pointer;
}

/* Updated CSS with increased specificity */
.fc-button.fc-customBookARoom-button {
  background-color: #007bff !important; /* Blue background */
  color: white !important; /* White text */
  border: 1px solid #007bff !important; /* Blue border */
}

.fc-button.fc-customBookARoom-button:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
}