body{
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg
  , rgb(24,42,115) 0%, rgb(33,138,174) 69%, rgb(32,167,172) 89%) !important
}

.react-calendar{
  width: 100% !important;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34,36,38, 1.5)
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.react-datepicker-wrapper {
  width: 100%;
}

mgt-login {
  --font-size: 14px;
  --font-weight: 600;
  --weight: '100%';
  --height: '100%';
  --margin: 0;
  --padding: 12px 20px;
  --button-color: white;
  --button-color--hover: black;
  --button-background-color: #004080;
  --button-background-color--hover: white;
  --popup-background-color: rgba(131, 180, 228, 0.864);
  --popup-command-font-size: 12px;
  --popup-color: #201f1e;
}


